<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.EnergyMapper">
    <select id="show" resultType="com.hxzz.demo.entity.Energy">
       select id,name,CONVERT(decimal(18,3),standardsWater) as standardsWater,CONVERT(decimal(18,3),water) as
       water,CONVERT(decimal(18,3),standardsElectricity) as standardsElectricity,
 CONVERT(decimal(18,3),electricity) as electricity,CONVERT(decimal(18,3),standardsGas) as
 standardsGas,CONVERT(decimal(18,3),gas) as gas,date from Energy where date=( select MAX(date) as date from Energy)
 order
        by name,id DESC
    </select>
    <select id="showClient" resultType="com.hxzz.demo.entity.Energy">
        select name,sum(standardsWater) as standardsWater,sum(water) as water,sum(standardsElectricity) as
        standardsElectricity,sum(electricity) as electricity,sum(electricity) as electricity,sum(standardsGas) as
        standardsGas,sum(gas) as gas,date from Energy where date= ( select MAX(date) as date from Energy) group by
        date,name
    </select>
    <select id="showSum" resultType="com.hxzz.demo.entity.Energy">
        select name,sum(standardsWater)+sum(standardsElectricity)+sum(standardsGas) as
        standardsWater,sum(water)+sum(electricity)+sum(gas) as water,sum(standardsElectricity) as
        standardsElectricity,sum(electricity) as electricity,sum(electricity) as electricity,sum(standardsGas) as
        standardsGas,sum(gas) as gas,date from Energy where date= ( select MAX(date) as date from Energy) group by
        date,name
    </select>
    <select id="infoSum" resultType="com.hxzz.demo.entity.Energy">
        select name,sum(standardsWater)+sum(standardsElectricity)+sum(standardsGas) as
        standardsWater,sum(water)+sum(electricity)+sum(gas) as water,sum(standardsElectricity) as
        standardsElectricity,sum(electricity) as electricity,sum(electricity) as electricity,sum(standardsGas) as
        standardsGas,sum(gas) as gas from Energy where date>=#{date1} and date &lt;= #{date2} group by name
    </select>

    <select id="info" resultType="com.hxzz.demo.entity.Energy">
           select id,name,CONVERT(decimal(18,3),standardsWater) as standardsWater,CONVERT(decimal(18,3),water) as
           water,CONVERT(decimal(18,3),standardsElectricity) as standardsElectricity,
 CONVERT(decimal(18,3),electricity) as electricity,CONVERT(decimal(18,3),standardsGas) as
 standardsGas,CONVERT(decimal(18,3),gas) as gas,date from Energy where date>=#{date1} and date &lt;= #{date2} order
 by name,id DESC
    </select>
    <select id="infoClient" resultType="com.hxzz.demo.entity.Energy">
        select name,sum(standardsWater)/count(*) as standardsWater,sum(water)/count(*) as
        water,sum(standardsElectricity)/count(*) as
        standardsElectricity,sum(electricity)/count(*) as electricity,sum(standardsGas)/count(*) as
        standardsGas,sum(gas)/count(*) as gas from Energy where (date>=#{date1} and date &lt;= #{date2}) group by name
    </select>
    <select id="eachWater" resultType="com.hxzz.demo.bean.View">
		select sum(standardsWater)/count(*) as indicators,sum(water)/count(*) as rate,month(Energy.date) as month
		from Energy where YEAR ( Energy.date ) = #{date} GROUP BY
        MONTH ( Energy.date )
    </select>
    <select id="eachElectricity" resultType="com.hxzz.demo.bean.View">
				select sum(standardsElectricity)/count(*) as indicators,sum(electricity)/count(*) as
				rate,month(Energy.date) as month from Energy where YEAR ( Energy.date ) = #{date} GROUP BY
        MONTH ( Energy.date )
    </select>
    <select id="eachGas" resultType="com.hxzz.demo.bean.View">
				select sum(standardsGas)/count(*) as indicators,sum(gas)/count(*) as rate,month(Energy.date) as month
				 from Energy where YEAR ( Energy.date ) = #{date} GROUP BY
        MONTH ( Energy.date )
    </select>
    <select id="eachWaterYear" resultType="com.hxzz.demo.bean.View">
 		select sum(standardsWater)/count(*) as indicators,sum(water)/count(*) as yearRate from Energy where YEAR (
 		Energy.date ) = #{date}
    </select>
    <select id="eachElectricityYear" resultType="com.hxzz.demo.bean.View">
       		select sum(standardsElectricity)/count(*) as indicators,sum(electricity)/count(*) as yearRate from Energy
       		where YEAR ( Energy.date ) = #{date}
    </select>
    <select id="eachGasYear" resultType="com.hxzz.demo.bean.View">
  		select sum(standardsGas)/count(*) as indicators,sum(gas)/count(*) as yearRate from Energy where YEAR (
  		Energy.date ) = #{date}
    </select>
    <select id="total" resultType="com.hxzz.demo.bean.View">
        select convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate,month(Equipmentstatus.date) as
        month from Equipmentstatus,Aim WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(Aim.date)=#{date}
        GROUP BY
        MONTH ( Equipmentstatus.date ),Aim.equipment
    </select>
    <select id="totalYear" resultType="com.hxzz.demo.bean.View">
        select Aim.equipment as indicators,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        yearRate
        from Equipmentstatus,Aim WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(Aim.date)=#{date}
        GROUP BY
        Aim.equipment
    </select>
    <insert id="add">
        insert into Energy( name, standardsWater, water, standardsElectricity, electricity, standardsGas, gas,date)
        values
        (#{name},#{standardsWater},#{water},#{standardsElectricity},#{electricity},#{standardsGas},#{gas},#{date})
    </insert>
    <delete id="del">
        delete from Energy where id=#{id}
    </delete>
    <update id="change">
        update Energy set name=#{name}, standardsWater=#{standardsWater}, water=#{water},
        standardsElectricity=#{standardsElectricity},
        electricity=#{electricity},standardsGas=#{standardsGas}, gas=#{gas},date=#{date}
        where (id=#{id})
    </update>


</mapper>
