<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.EquipmentstatusMapper">
    <select id="show" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select id,name, failureTime,  officeTime,convert(decimal(18,2),failureTime/officeTime*100) as
        rate,shift,date from Equipmentstatus where date=( select MAX(date) as date from Equipmentstatus) order
        by name,id DESC
    </select>
    <select id="showClient" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select name,sum(failureTime) as failureTime,sum(officeTime) as officeTime,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate,date from Equipmentstatus where date=( select MAX(date)
        as date from Equipmentstatus) group by date,name
    </select>
    <select id="showSum" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select sum(failureTime) as failureTime,sum(officeTime) as officeTime,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate,date from Equipmentstatus where date=( select MAX(date)
        as date from Equipmentstatus) group by date
    </select>

    <select id="info" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select id,name, failureTime, officeTime,convert(decimal(18,2),failureTime/officeTime*100) as
        rate,shift,date from Equipmentstatus where date>=#{date1} and date &lt;= #{date2} order by name,id DESC
    </select>
    <select id="infoClient" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select name,sum(failureTime) as failureTime,sum(officeTime) as officeTime,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate from Equipmentstatus where date>=#{date1} and date &lt;= #{date2} group by name
    </select>
    <select id="infoSum" resultType="com.hxzz.demo.entity.Equipmentstatus">
        select sum(failureTime) as failureTime,sum(officeTime) as officeTime,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate from Equipmentstatus  where
        date>=#{date1} and date &lt;= #{date2}
    </select>
    <select id="each" resultType="com.hxzz.demo.bean.Equipment">
        select Equipmentstatus.name as name,convert(decimal(18,2), monthAim.equipment*100) as indicators,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate,month(Equipmentstatus.date) as month from Equipmentstatus,monthAim WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(monthAim.date)=#{date} and Equipmentstatus.name=#{name}and month(monthAim.date)=month(Equipmentstatus.date)
        GROUP BY
        MONTH ( Equipmentstatus.date ),monthAim.equipment ,Equipmentstatus.name
    </select>
    <select id="eachYear" resultType="com.hxzz.demo.bean.Equipment">
        select Equipmentstatus.name as name,Aim.equipment as
        indicators,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        yearRate from Equipmentstatus,Aim
        WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(Aim.date)=#{date} and Equipmentstatus.name =#{name}
        GROUP BY
        Aim.equipment ,Equipmentstatus.name
    </select>
    <select id="total" resultType="com.hxzz.demo.bean.Equipment">
  select convert(decimal(18,2), monthAim.equipment*100) as indicators,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        rate,month(Equipmentstatus.date) as month from Equipmentstatus,monthAim WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(monthAim.date)=#{date} and month(monthAim.date)=month(Equipmentstatus.date)
        GROUP BY
        MONTH ( Equipmentstatus.date ),monthAim.equipment
    </select>
    <select id="totalYear" resultType="com.hxzz.demo.bean.Equipment">
        select Aim.equipment as indicators,convert(decimal(18,2),sum(failureTime)/sum(officeTime)*100) as
        yearRate
        from Equipmentstatus,Aim WHERE
        YEAR ( Equipmentstatus.date ) = #{date} and YEAR(Aim.date)=#{date}
        GROUP BY
        Aim.equipment
    </select>

    <insert id="add">
        insert into Equipmentstatus(name,failureTime,officeTime,shift,date) values
        (#{name},#{failureTime},#{officeTime},#{shift},#{date})
    </insert>
    <delete id="del">
        delete from Equipmentstatus where id=#{id}
    </delete>
    <update id="change">
        update Equipmentstatus set
        name=#{name},failureTime=#{failureTime},officeTime=#{officeTime},shift=#{shift},date=#{date} where id=#{id}
    </update>
</mapper>
