<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.LzcsjMapper">
    <select id="show" resultType="com.hxzz.demo.entity.Lzcsj">
        select * from Lzcsj where date=( select MAX(date) as date from Lzcsj) order by name, id DESC
    </select>
    <select id="showClient" resultType="com.hxzz.demo.entity.Lzcsj">
        select name as name,sum(waitingToBeLoaded) as waitingToBeLoaded,sum(loopToCrossTheLine) as loopToCrossTheLine
        ,sum(bhCirculation) as bhCirculation,sum(actualCirculation) as actualCirculation,sum(total) as total,date as
        date
        from Lzcsj where date=( select MAX(date) as date from Lzcsj) group by date,name
    </select>
    <select id="showSum" resultType="com.hxzz.demo.entity.Lzcsj">

        select sum(waitingToBeLoaded) as waitingToBeLoaded,sum(loopToCrossTheLine) as loopToCrossTheLine
        ,sum(bhCirculation) as bhCirculation,sum(actualCirculation) as actualCirculation,sum(total) as total
        from Lzcsj where date=( select MAX(date) as date from Lzcsj) group by date
    </select>
    <select id="info" resultType="com.hxzz.demo.entity.Lzcsj">
        select * from Lzcsj where (date &gt;=#{date1} and date &lt;= #{date2}) order by name,id DESC
    </select>
    <select id="infoShift" resultType="com.hxzz.demo.entity.Lzcsj">
         select * from Lzcsj where (date &gt;=#{date1} and date &lt;= #{date2}) and name=#{name} order by name,date DESC
    </select>
    <select id="infoClient" resultType="com.hxzz.demo.entity.Lzcsj">
        select name as name,sum(waitingToBeLoaded) as waitingToBeLoaded,sum(loopToCrossTheLine) as loopToCrossTheLine
        ,sum(bhCirculation) as bhCirculation,sum(actualCirculation) as actualCirculation,sum(total) as total
        from Lzcsj where(date &gt;=#{date1} and date &lt;= #{date2}) group by name
    </select>
    <select id="infoSum" resultType="com.hxzz.demo.entity.Lzcsj">
        select sum(waitingToBeLoaded) as waitingToBeLoaded,sum(loopToCrossTheLine) as loopToCrossTheLine
        ,sum(bhCirculation) as bhCirculation,sum(actualCirculation) as actualCirculation,sum(total) as total
        from Lzcsj where (date &gt;=#{date1} and date &lt;= #{date2})

    </select>
    <select id="amount" resultType="com.hxzz.demo.entity.Lzcsj">
        select date from Lzcsj where date>=#{date1} and date &lt;= #{date2} group by date
    </select>

    <select id="total" resultType="com.hxzz.demo.bean.View">
  		select monthAim.lzcsj as indicators,sum(Lzcsj.total) as rate,MONTH(Lzcsj.date) as month  from monthAim,Lzcsj
		where YEAR ( Lzcsj.date ) = #{date}and month(monthAim.date)=month(Lzcsj.date) GROUP BY
        MONTH ( Lzcsj.date ),monthAim.lzcsj

    </select>
    <select id="totalYear" resultType="com.hxzz.demo.bean.View">
		select Aim.lzcsj as indicators,sum(Lzcsj.total) as yearRate  from Aim,Lzcsj
		where YEAR ( Lzcsj.date ) = #{date} GROUP BY
       Aim.lzcsj
    </select>
    <insert id="add">
        insert into Lzcsj(name,waitingToBeLoaded,loopToCrossTheLine,bhCirculation,actualCirculation,date) values
        (#{name},#{waitingToBeLoaded},#{loopToCrossTheLine},#{bhCirculation},#{actualCirculation},#{date})
    </insert>
    <delete id="del">
        delete from Lzcsj where id=#{id}
    </delete>
    <update id="change">
        update Lzcsj
        set
        name=#{name},waitingToBeLoaded=#{waitingToBeLoaded},loopToCrossTheLine=#{loopToCrossTheLine},bhCirculation=#{bhCirculation},actualCirculation=#{actualCirculation},date=#{date}
        where id=#{id}
    </update>

</mapper>
