<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.PersonDMapper">
    <select id="show" resultType="com.hxzz.demo.entity.PersonD">
        select * from PersonD where date=(select date from PersonD where id=(select MAX(id) as id from PersonD)) order by region,id DESC
    </select>
    <select id="showClient" resultType="com.hxzz.demo.bean.PersonDShow">
        select region, sum(personalLeave) as personalLeave, sum(sickLeave) as sickLeave, sum(annualLeave) as annualLeave, sum(nursingLeave) nursingLeave,
				  sum(bereavementLeave) as bereavementLeave,sum(total) as total,date from PersonD where date=(select date from PersonD where id=(select MAX(id) as id from PersonD))  group by date,region
    </select>
    <select id="Sum" resultType="com.hxzz.demo.bean.PersonDShow">
        select sum(personalLeave) as personalLeave, sum(sickLeave) as sickLeave, sum(annualLeave) as annualLeave, sum(nursingLeave) nursingLeave,
				  sum(bereavementLeave) as bereavementLeave,sum(total) as total,date from PersonD where date=(select date from PersonD where id=(select MAX(id) as id from PersonD))  group by date
    </select>
    <select id="getData" resultType="com.hxzz.demo.entity.PersonD">
        select * from PersonD where date>=#{date1} and date &lt;= #{date2}
    </select>
    <select id="getClient" resultType="com.hxzz.demo.bean.PersonDShow">
        select region, sum(personalLeave) as personalLeave, sum(sickLeave) as sickLeave, sum(annualLeave) as annualLeave, sum(nursingLeave) nursingLeave,
        sum(bereavementLeave) as bereavementLeave,sum(total) as total from PersonD where date>=#{date1} and
        date&lt;=#{date2} group by region

    </select>
    <select id="sumClient" resultType="com.hxzz.demo.bean.PersonDShow">
        select sum(personalLeave) as personalLeave, sum(sickLeave) as sickLeave, sum(annualLeave) as annualLeave, sum(nursingLeave) nursingLeave,
        sum(bereavementLeave) as bereavementLeave,sum(total) as total  from PersonD  where  date>=#{date1} and
        date&lt;=#{date2}
    </select>
    <insert id="add">
        insert into PersonD( region, personalLeave,  sickLeave, annualLeave, nursingLeave,
           bereavementLeave,date)
           values(#{region},#{personalLeave},#{sickLeave},#{annualLeave},#{nursingLeave},#{bereavementLeave},#{date})
    </insert>
    <delete id="del">
     delete from PersonD where id=#{id}

    </delete>
    <update id="change">
        update PersonD set  region=#{region},personalLeave=#{personalLeave}, sickLeave=#{sickLeave},
        annualLeave=#{annualLeave},nursingLeave=#{nursingLeave},
            bereavementLeave=#{bereavementLeave},date=#{date} where id=#{id}
    </update>


</mapper>


