<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.PersonnelManagementMapper">
<select id="showSgmw" resultType="com.hxzz.demo.entity.PersonnelManagement">
select * from PersonnelManagement where id=(select MAX(id) from PersonnelManagement where name='SGMW')
where (id=(select MAX(id) from ScglDC))
</select>
<select id="showOutsource" resultType="com.hxzz.demo.entity.PersonnelManagement">
select * from PersonnelManagement where id=(select MAX(id) from PersonnelManagement where name='外包')
</select>
<select id="getData" resultType="com.hxzz.demo.entity.PersonnelManagement">
 select *  from PersonnelManagement  where (date &gt;=#{date1} and date  &lt;= #{date2}) and (name="SGMW")
</select>

    <select id="showSgmwClient" resultType="com.hxzz.demo.bean.PersonnelManagementClient">
select * from PersonnelManagement where id=(select MAX(id) from PersonnelManagement where name='SGMW')
</select>
    <select id="showOutsourceClient" resultType="com.hxzz.demo.bean.PersonnelManagementClient">
select * from PersonnelManagement where id=(select MAX(id) from PersonnelManagement where name='外包')
</select>

    <select id="getClient" resultType="com.hxzz.demo.bean.PersonnelManagementClient">
select name, sum(establishment) as establishment, sum(actualNumber) as actualNumber, sum(availableNumber) as availableNumber, sum(attendanceRate) asattendanceRate,
				  sum(shouldArrive) as shouldArrive,sum(actualArrive) as actualArrive from PersonnelManagement  group by name
</select>
<insert id="add">
insert into PersonnelManagement( name, establishment, actualNumber, availableNumber, attendanceRate,
              shouldArrive,actualArrive) values(#{name},#{establishment},#{actualNumber},#{ availableNumber},#{ attendanceRate},#{shouldArrive},#{actualArrive})
</insert>
<update id="change" >
    update PersonnelManagement
    set
    name=#{name},establishment=#{establishment},actualNumber=#{actualNumber},availableNumber=#{ availableNumber},attendanceRate=#{ attendanceRate},shouldArrive=#{shouldArrive},actualArrive=#{actualArrive}  where id=#{id}
</update>
<delete id="del"  >
    delete from PersonnelManagement where id=#{id}
</delete>
</mapper>
