<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.QualityMapper">
    <select id="show" resultType="com.hxzz.demo.entity.Quality">
       	select
       	id,name,offLine,acoffLine,dLine,acdLine,lingYu,aclingYu,careLine,accareLine,roadTest,acroadTest,CONVERT(decimal(18,1),DR*100) as DR,shift,date from Quality where date=( select MAX(date) as date from Quality) order
        by name,id DESC

    </select>
    <select id="showClient" resultType="com.hxzz.demo.entity.Quality">
        select name,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*100) as offLine,convert(decimal(10,1) ,sum(acdLine)/sum(dLine)*100) as dLine,
  convert(decimal(10,1) ,sum(aclingYu)/sum(lingYu)*100) as
        lingYu,convert(decimal(10,1) ,sum(accareLine)/sum(careLine)*100) as careLine,convert(decimal(10,1) ,sum(acroadTest)/sum(roadTest)*100) as
        roadTest,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*sum(acdLine)/sum(dLine)*sum(aclingYu)/sum(lingYu)*sum(accareLine)/sum(careLine)*sum(acroadTest)/sum(roadTest)*100)
        as DR,date from Quality where date=( select MAX(date) as date from Quality) group by date,name

    </select>
    <select id="showSum" resultType="com.hxzz.demo.entity.Quality">

        select convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*100) as offLine,convert(decimal(10,1) ,sum(acdLine)/sum(dLine)*100) as dLine,
  convert(decimal(10,1) ,sum(aclingYu)/sum(lingYu)*100) as
        lingYu,convert(decimal(10,1) ,sum(accareLine)/sum(careLine)*100) as careLine,convert(decimal(10,1) ,sum(acroadTest)/sum(roadTest)*100) as
        roadTest,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*sum(acdLine)/sum(dLine)*sum(aclingYu)/sum(lingYu)*sum(accareLine)/sum(careLine)*sum(acroadTest)/sum(roadTest)*100)
        as DR,date from Quality where date=( select MAX(date) as date from Quality) group by date
    </select>
    <select id="info" resultType="com.hxzz.demo.entity.Quality">
        select
        id,name,offLine,acoffLine,dLine,acdLine,lingYu,aclingYu,careLine,accareLine,roadTest,acroadTest,CONVERT(decimal(18,1),DR*100) as DR,shift,date from Quality where date>=#{date1} and date &lt;= #{date2} order by name,id DESC

    </select>
    <select id="infoClient" resultType="com.hxzz.demo.entity.Quality">
        select name,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*100) as offLine,convert(decimal(10,1) ,sum(acdLine)/sum(dLine)*100) as dLine,
  convert(decimal(10,1) ,sum(aclingYu)/sum(lingYu)*100) as
        lingYu,convert(decimal(10,1) ,sum(accareLine)/sum(careLine)*100) as careLine,convert(decimal(10,1) ,sum(acroadTest)/sum(roadTest)*100) as
        roadTest,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*sum(acdLine)/sum(dLine)*sum(aclingYu)/sum(lingYu)*sum(accareLine)/sum(careLine)*sum(acroadTest)/sum(roadTest)*100)
        as DR from Quality where (date&gt;=#{date1} and date&lt;= #{date2}) group by name
    </select>
    <select id="infoSum" resultType="com.hxzz.demo.entity.Quality">
        select convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*100) as offLine,convert(decimal(10,1) ,sum(acdLine)/sum(dLine)*100) as dLine,
  convert(decimal(10,1) ,sum(aclingYu)/sum(lingYu)*100) as
        lingYu,convert(decimal(10,1) ,sum(accareLine)/sum(careLine)*100) as careLine,convert(decimal(10,1) ,sum(acroadTest)/sum(roadTest)*100) as
        roadTest,convert(decimal(10,1) ,sum(acoffLine)/sum(offLine)*sum(acdLine)/sum(dLine)*sum(aclingYu)/sum(lingYu)*sum(accareLine)/sum(careLine)*sum(acroadTest)/sum(roadTest)*100)
        as DR from Quality where (date&gt;=#{date1} and date&lt;= #{date2})

    </select>
    <select id="month" resultType="com.hxzz.demo.entity.Quality">
        select * from Quality where datediff(mm,date,getdate()) = 0
    </select>
    <insert id="add">
        insert into Quality( name, offLine,acoffLine, dLine,acdLine, lingYu,aclingYu, careLine,accareLine,
        roadTest,acroadTest,shift,date)
        values
        (#{name},#{offLine},#{acoffLine},#{dLine},#{acdLine},#{lingYu},#{aclingYu},#{careLine},#{accareLine},#{roadTest},#{acroadTest},#{shift},#{date})
    </insert>
    <delete id="del">
        delete from Quality where id=#{id}
    </delete>
    <update id="change">
        update Quality
        set
        name=#{name},offLine=#{offLine},acoffLine=#{acoffLine},dLine=#{dLine},acdLine=#{acdLine},lingYu=#{lingYu},aclingYu=#{aclingYu},careLine=#{careLine},accareLine=#{accareLine},roadTest=#{roadTest},acroadTest=#{acroadTest},shift=#{shift},date=#{date}
        where id=#{id}
    </update>

</mapper>
