<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.Quality2Mapper">
    <select id="showA" resultType="com.hxzz.demo.entity.Quality2">
         select * from Quality2 where  (id=(select MAX(id) from (select id from Quality2 where name="A线")) )
    </select>
    <select id="showB" resultType="com.hxzz.demo.entity.Quality2">
         select * from Quality2 where  (id=(select MAX(id) from (select id from Quality2 where name="B线")) )
    </select>
    <select id="showC" resultType="com.hxzz.demo.entity.Quality2">
         select * from Quality2 where  (id=(select MAX(id) from (select id from Quality2 where name="C线")) )
    </select>
    <select id="showD" resultType="com.hxzz.demo.entity.Quality2">
         select * from Quality2 where  (id=(select MAX(id) from (select id from Quality2 where name="D线")) )
    </select>
    <select id="getDataA" resultType="com.hxzz.demo.entity.Quality2">
        select *  from Quality2  where (date &gt;=#{date1} and date  &lt;= #{date2}) and (name="A线")
    </select>
    <select id="getDataB" resultType="com.hxzz.demo.entity.Quality2">
        select *  from Quality2  where (date &gt;=#{date1} and date  &lt;= #{date2}) and (name="B线")
    </select>
    <select id="getDataC" resultType="com.hxzz.demo.entity.Quality2">
        select *  from Quality2  where (date &gt;=#{date1} and date  &lt;= #{date2}) and (name="C线")
    </select>
    <select id="getDataD" resultType="com.hxzz.demo.entity.Quality2">
        select *  from Quality2  where (date &gt;=#{date1} and date  &lt;= #{date2}) and (name="D线")
    </select>
    <insert id="add">
        insert into Quality2( productionLine, breakpoint, paa, ptr, craft, tools) values
        (#{productionLine},#{breakpoint},#{paa},#{ptr},#{craft},#{tools})
    </insert>
    <delete id="del">
        delete from Quality2 where  id=#{id}
    </delete>
    <update id="change">
        update Quality2 set
        productionLine=#{productionLine},breakpoint=#{breakpoint},paa=#{paa},ptr=#{ptr},craft=#{craft},tools=#{tools}
        where id=#{id}
    </update>

</mapper>
