<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzz.demo.mapper.ScglXDMapper">
    <select id="show" resultType="com.hxzz.demo.entity.ScglXD">
    select * from ScglXD where (id=(select MAX(id) from ScglXD))
</select>
    <select id="getData" resultType="com.hxzz.demo.entity.ScglXD">
    select *  from ScglXD  where (date &gt;=#{date1} and date  &lt;= #{date2})
</select>
    <insert id="add" >
    insert into ScglXD( targetCapacity,  actualCapacity,  targetEfficiency,  workingHours, beat)
    values(#{targetCapacity},#{actualCapacity},#{targetEfficiency},#{workingHours},#{beat})
</insert>
    <delete id="del">
    delete  from ScglXD where date=#{date}
</delete>
    <update id="change" >
    update ScglXD set ( targetCapacity=#{ targetCapacity}, actualCapacity=#{actualCapacity},  targetEfficiency=#{targetEfficiency}, workingHours=#{ workingHours}, beat=#{beat}, date=#{date}) where date=#{date}
</update>

</mapper>
